1. What are data structures, and why are they important?
    ->Data structures are specialized ways to organize, store, and manage data in computers so that it can be used efficiently. Common examples include arrays, linked lists, stacks, queues, trees, and graphs.
    They help in optimizing data processing, improving performance, and solving complex problems effectively. Choosing the right data structure makes algorithms faster and more efficient.

2. Explain the difference between mutable and immutable data types with examples.
    -> Mutable data types can be changed after creation, like lists ([1, 2, 3]) and dictionaries ({'a': 1}). Immutable data types cannot be changed once created, like strings ("hello") and tuples ((1, 2, 3)).

3. What are the main differences between lists and tuples in Python?
    -> Lists are mutable, meaning their elements can be changed, added, or removed ([1, 2, 3]). Tuples are immutable, meaning once created, they cannot be modified ((1, 2, 3)), and they are generally faster and use less memory than lists.

4. Describe how dictionaries store data?
    -> Dictionaries store data in key-value pairs using a hash table. Each key is unique and maps directly to its corresponding value, allowing for fast lookups, insertions, and deletions.

5. Why might you use a set instead of a list in Python?
    -> Sets are used when you need to store unique elements and perform fast membership tests. Unlike lists, sets automatically remove duplicates and offer faster lookup for checking if an item exists.

6. What is a string in Python, and how is it different from a list?
    -> A string in Python is an immutable sequence of characters (e.g., "hello"). Unlike lists, which can store different data types and be modified ([1, "a", 3]), strings can’t be changed after creation and only store text data.

7.  How do tuples ensure data integrity in Python?
    -> Tuples are immutable, meaning their data cannot be changed after creation. This ensures the stored values remain constant, protecting data from accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in Python?
    -> A hash table is a data structure that stores data using a computed hash code to quickly locate values. In Python, dictionaries use hash tables internally to map unique keys to their corresponding values efficiently.

9. Can lists contain different data types in Python?
    -> Yes, lists in Python can contain elements of different data types, such as integers, strings, and even other lists.

10.  Explain why strings are immutable in Python?
    -> Strings are immutable in Python to ensure that they are hashable and can be used as keys in dictionaries. Immutability also improves performance by allowing strings to be shared and reused without the risk of being altered, ensuring consistency and security.

11. What advantages do dictionaries offer over lists for certain tasks?
    -> Dictionaries provide faster lookups for searching by key, as they use hash tables, making them more efficient than lists for tasks like checking membership or retrieving values based on a key. Lists, on the other hand, require searching through each element sequentially.

12. Describe a scenario where using a tuple would be preferable over a list?
    -> A tuple is preferable when you need to store a fixed collection of data that should not be modified, such as coordinates (x, y, z) or a date (day, month, year). Tuples ensure data integrity and are more memory-efficient than lists when the data is constant.

13.  How do sets handle duplicate values in Python?
    -> Sets automatically remove duplicate values. If you try to add a duplicate item to a set, it will be ignored, ensuring that all elements in a set are unique.

14.  How does the “in” keyword work differently for lists and dictionaries?
    -> For lists, the in keyword checks if an element is present in the list by iterating through the entire list (element in list).
    For dictionaries, the in keyword checks if a key exists in the dictionary, not the value (key in dict).   

15.  Can you modify the elements of a tuple? Explain why or why not?
    -> No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability ensures data integrity and allows tuples to be used as keys in dictionaries.

16.  What is a nested dictionary, and give an example of its use case?
    -> A nested dictionary is a dictionary where the values are other dictionaries. It allows you to represent complex data structures, such as hierarchical relationships.                                                A nested dictionary can be used to represent student records with detailed information, such as storing multiple attributes like address, grades, or courses under each student.        

17.  Describe the time complexity of accessing elements in a dictionary?
    -> Accessing elements in a dictionary has an average time complexity of O(1). This is because dictionaries in Python use a hash table, allowing direct access to the value associated with a key. However, in the worst case (e.g., hash collisions), the time complexity could degrade to O(n), but this is rare.

18.  In what situations are lists preferred over dictionaries?
    -> When Order Matters: Lists maintain the order of elements, so if you need to access items in a specific sequence, lists are the way to go.

    When You Need Duplicates: Unlike dictionaries, lists can store duplicate values, so if you need to have multiple occurrences of the same item, lists are preferred.

    For Simple Iteration: If you're just iterating through a sequence of items without needing to look them up by a key, lists are simpler and more efficient.

    Lower Overhead: If you don’t need key-value pairs and just need a collection of items, lists are generally more memory-efficient.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    -> Dictionaries in Python are considered unordered because, prior to Python 3.7, the insertion order of items was not guaranteed. Even though Python 3.7+ maintains insertion order, dictionaries still work by storing key-value pairs in a hash table, meaning the elements are not arranged in a sequential order.

    Effect on Data Retrieval: Because dictionaries are unordered, you cannot access items by their position like you can with lists. Instead, you retrieve values by referencing their unique key. This makes lookups very fast (O(1) on average), but the order of items isn't something you can rely on unless explicitly maintained.   

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
    -> List: Data is retrieved by indexing. You access elements by their position in the list (e.g., list[2]). This requires iterating through the list or using the index number. If the list is large, searching for an item (if not by index) can take longer.

    Dictionary: Data is retrieved by key. You access values directly using their associated key (e.g., dict["key"]). This allows for much faster retrieval because dictionaries are based on hash tables, making it much more efficient than searching through a list.

In [ ]:
# 1.  Write a code to create a string with your name and print it.

name1 = "Divyanshi"
print(name1)

Divyanshi

In [ ]:
# 2. Write a code to find the length of the string "Hello World".

string1 = "Hello World"
print(len(string1))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

string2 = "Python Programming"
print(string2[0:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
greet = "hello"
upper_greet = (greet.upper())
print(upper_greet)

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

fruit = "I like apple"
new_fruit = fruit.replace("apple", "orange")
print(new_fruit)

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list1 = list(range(1,6))
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

number = [1, 2, 3, 4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

aplbt = ['a', 'b', 'c', 'd']
sec_ele = aplbt[1]
print(sec_ele)

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list2 = [10, 20, 30, 40, 50]
list2.reverse()
print(list2)

[50, 40, 30, 20, 10]

In [1]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup1 = (100, 200, 300)
print(tup1)

(100, 200, 300)

In [6]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tup2 = ('red', 'green', 'blue', 'yellow')
print(tup2[-2])

blue

In [8]:
 # 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

 tup3 = (10, 20, 5, 15)
 print(min(tup3))

5

In [9]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup4 = ('dog', 'cat', 'rabbit')
print(tup4.index('cat'))

1

In [10]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
check = ("kiwi" in fruits)
print(check)

False

In [11]:
#  16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

{'c', 'b', 'a'}

In [12]:
#  17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
print(set1)
set1.clear()
print(set1)

{1, 2, 3, 4, 5}
set()

In [13]:
#  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1 = {1, 2, 3, 4}
print(set1)
set1.remove(4)
print(set1)

{1, 2, 3, 4}
{1, 2, 3}

In [14]:
#  19. Write a code to find the union of two sets {1, 2, 3} and  {3, 4, 5}.
seta = {1, 2, 3}
setb =  {3, 4, 5}
uniab= (seta.union(setb))
print(uniab)

{1, 2, 3, 4, 5}

In [16]:
 # 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

seta = {1, 2, 3}
setb =  {3, 4, 5}
interab= (seta.intersection(setb))
print(interab)

{3}

In [19]:
#  21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {"name" : "divi", "age" : 20, "city" : "delhi"}
print(dict1)

{'name': 'divi', 'age': 20, 'city': 'delhi'}

In [20]:
#  22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict1 = {'name': 'John', 'age': 25}
dict1["country"] = "USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1 = {'name': 'Alice', 'age': 30}
dictname = dict1["name"]
print(dictname)

Alice

In [29]:
#  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dic1)
dic1.pop("age")
print(dic1)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [30]:
#  25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic1 = {'name': 'Alice', 'city': 'Paris'}
checkdic = ("city" in dic1)
print(checkdic)

True

In [31]:
#  26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list1 = [1, 2, 3, 4]
print(list1)

tuple1 = (5, 6, 7, 8, 9)
print(tuple1)

dict1 = {"name": "Rudra", "city" : "Jaipur", "age": 25}
print(dict1)

[1, 2, 3, 4]
(5, 6, 7, 8, 9)
{'name': 'Rudra', 'city': 'Jaipur', 'age': 25}

In [35]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
list2 = random.sample(range(1, 101), 5)
print(list2)
list2.sort()
print(list2)

[87, 55, 89, 78, 10]
[10, 55, 78, 87, 89]

In [36]:
# 28. Write a code to create a list with strings and print the element at the third index.

lst = ["marry", "kero", "mayo", "jihu"]
print(lst[2])

mayo

In [38]:
#  29. Write a code to combine two dictionaries into one and print the result.
dic1 = {"name": "jerry", "branch": "CSE", "city" : "Roorkee"}
dic2 = {"age" : 23, "gender": "male"}
dic1.update(dic2)
print(dic1)

{'name': 'jerry', 'branch': 'CSE', 'city': 'Roorkee', 'age': 23, 'gender': 'male'}

In [46]:
#  30. Write a code to convert a list of strings into a set.

Lst1 = ["Watermelon", "Mango", "Grapes", "Guava"]
set1 = set(Lst1)
print(set1)

{'Mango', 'Watermelon', 'Grapes', 'Guava'}